$soft-grey: rgb(199, 194, 194);
$soft-green: rgb(89, 195, 89);
$primary-font-family: Arial, Helvetica, sans-serif;
$size-sm: 1rem;
$size-m: 1.5rem;

body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}


.card__section{

    height: 100%;
    width: 100%;
    display: grid;
    background-color: $soft-grey;
    gap: $size-sm;
    grid-template-columns: repeat(3, 1fr);
    padding: $size-sm;

    @media (max-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 450px) {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    @mixin primary-font{
        font-family: $primary-font-family;
        font-size: $size-sm;
    }
    &-container{
        background-color: white;
        padding-bottom: $size-m;
        border: 1px solid black;
       @include primary-font();

        &--title,&--desc{
            padding: $size-sm;
            line-height: $size-m;
        }
        &--data{
            text-align: end;
            padding: $size-m;
            span{
                color: $soft-green;
            }
        }

        button {
            display: block;
            margin: auto;
            padding: $size-sm;
            border: none;
            color: white;
            cursor: pointer;
            width: 90%;
            background-color: $soft-green;
        }
    }

    img {
        width: 100%;
        justify-self: center;
    }
}